.card {
    border: 4px inset rgb(122, 179, 255);
    /* border-radius: 5px; */
    max-width: 20vw;
    padding: 20px;
    margin: 0 auto;
}

.card button {
    background: none;
    background-color: rgb(122, 179, 255);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
}